### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data,school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
#Calculate total number of schools
total_schools = len(school_data_complete_df['School ID'])

#Calculate total number of students
total_students = school_data_complete_df['size'].sum()

#Calculate total budget
total_budget = school_data_complete_df['budget'].sum()

#Calculate average math score
average_math_score = round(student_data_complete_df['math_score'].mean(),6)

#Calculate average reading score
average_reading_score = round(student_data_complete_df['reading_score'].mean(),5)

#Calculate the percentage of students with passing math score(>=70)
students_passing_math = student_data_complete_df.loc[student_data_complete_df["math_score"] > 70,:]
percent_passing_math = round(float(students_passing_math['math_score'].count()/total_students)*100,6)

#Calculate the percentage of students with passing reading score(<70)
students_passing_reading = student_data_complete_df.loc[student_data_complete_df["reading_score"] >70,:]
percent_passing_reading = round(float(students_passing_reading["reading_score"].count()/total_students)*100,6)

#Calculate the percentage of students who passed math and reading(% overall passing)
overall_passing_rate =round((percent_passing_math + percent_passing_reading)/2,6)

#Create dataframe to hold results
summary_df = pd.DataFrame({"Total Schools":[total_schools],
                          "Total Students":[total_students],
                          "Total Budget":[total_budget],
                          "Average Math Score":[average_math_score],
                          "Average Reading Score":[average_reading_score],
                          "Percent Passing Math":[percent_passing_math],
                          "Percent Passing Reading":[percent_passing_reading],
                          "Percent Overall Passing Rate":[overall_passing_rate]})


#Clean Format
district_summary_df = pd.DataFrame(summary_df, columns=["Total Schools",
                                                        "Total Students",
                                                        "Total Budget",
                                                        "Average Math Score",
                                                        "Average Reading Score",
                                                        "Percent Passing Math",
                                                        "Percent Passing Reading",
                                                       "Percent Overall Passing Rate"])
district_summary_df["Total Students"] = district_summary_df["Total Students"].map('{:,}'.format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map('${:,.2f}'.format)

district_summary_df

NameError: name 'school_data_complete_df' is not defined

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
#Create table with school name as label in first column 
schools_complete_df = schools_complete_df.rename(columns={"name": "school"}


#Create column with school type
school_type = school_data_complete_df.groupby('school')['type'].unique()
school_type = school_type.str[0]                               

#Create column with total students
student_count = school_data_complete_df['school'].value_counts()                                                 
                                                 

#Create column with total school budget
budget_per_school = school_data_complete_df.groupby('school')['budget'].count()
                                                 

#Create column for per student budget
budget_per_student = school_data_complete_df.set_index('school')['budget']/school_data_complete_df.set_index('school')['size']                                      

#Create column for average math score
school_average_math = round(school_data__complete_df.groupby('school')['math_score'].mean(),2)                                   

#Create column for average reading score
school_average_reading = round(school_data__complete_df.groupby('school')['reading_score'].mean(),2)
                                                 
#Confirm which students had scores above 70 in both math and reading
passing_df = school_data__complete_df.loc[(school_data_complete_df['math_score'] >=70) 
                                          & (school_data_complete_df['reading_score'] >=70)]
passing_math_df = school_data_complete_df.loc[(school_data_complete_df['math_score'] >=70)]
passing_reading_df = school_data_complete_df.loc[(school_data_complete_df['reading_score'] >=70)]  
                                                 

#Create a column for percent passing math
percent_passing_math = round((passing_math_df.groupby('school')['math_score'].count()/student_count)*100,1)                                           
                                            
#Create a column for percent passing reading
percent_passing_reading = round((passing_reading_df.groupby('school')['reading_score'].count()/student_count)*100,1)                                               

#Create a column for percent overall passing
overall_passing_percent = round((percent_passing_math + percent_passing_reading)/2, 2)
                                                 
#print results of summary table
school_summary_df = pd.DataFrame({"School Type":school_type,
                                "Total Students":student_count,
                                "Total School Budget":budget_per_school,
                                "Budget Per Student":budget_per_student,
                                "Average Math Score": school_average_math,
                                "Average Reading Score": school_average_reading,
                                "% Passing Math": percent_passing_math,
                                "% Passing Reading": percent_passing_reading,
                                "% Overall Passing Rate":overall_passing_percent},columns=["School Type",
                                                        "Total Students",
                                                        "Total School Budget",
                                                        "Budget Per Student",
                                                        "Average Math Score",
                                                        "Average Reading Score",
                                                        "% Passing Math",
                                                       "% Passing Reading",
                                                        "% Overall Passing Rate"])
                                                 
school_summary_df["Total Students"] = school_summary_df["Total Students"].map('{:,}'.format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map('${:,.2f}'.format)
school_summary_df["Budget Per Student"] = school_summary_df["Budget Per Student"].map('${:,.2f}'.format)
school_summary_df

SyntaxError: invalid syntax (<ipython-input-12-0fd9194e57e8>, line 6)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [13]:
top_performing_schools= school_summary_df.sort_values("% Overall Passing Rate", ascending=False, inplace=False)
top_performing_schools.head()

NameError: name 'school_summary_df' is not defined

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [11]:
Bottom_performing_schools= school_summary_df.sort_values("% Overall Passing Rate", ascending=True, inplace=False)
Bottom_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [14]:
#Create pandas series for each grade
from pandas.api.types import CategoricalDtype

#Group each series by school
students_complete_df["grade"] = students_complete_df['grade'].astype(CategoricalDtype(["9th", "10th","11th","12th"]))

#Combine the series into a dataframe to show math grades
math_scores_grade = round(students_complete_df.pivot_table(index="school", columns="grade", values="math_score"),2)
math_scores_grade.index.name = None 
math_scores_grade

NameError: name 'students_complete_df' is not defined

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [15]:
#Create pandas series for each grade

#Group each series by school 
students_complete_df['grade'] = students_complete_df['grade'].astype(CategoricalDtype(["9th", "10th","11th","12th"]))

#Combine the series into a dataframe to show reading grades
reading_scores_grade = round(students_complete_df.pivot_table(index="school", columns="grade", values="reading_score"),2)
reading_scores_grade.index.name = None
reading_scores_grade

NameError: name 'students_complete_df' is not defined

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [16]:
#Create a table to break down school performances based on average spending per student
#Create bins to group school spending
spending_bins = [0, 585, 615, 645, 675]
spending_range = ["<$585", "$585-615", "$615-645", "$645-675"]

#Calculate average spending range
school_summary_df["Spending Ranges(Per Student)"] = pd.cut(budget_per_student, bins=spending_bins, labels=spending_range)
school_summary_df.head()

#Calculate average math and reading scores
spending_math_score = school_summary_df.groupby(["Spending Ranges(Per Student)"])["Average Math Score"].mean()
spending_reading_score = school_summary_df.groupby(["Spending Ranges(Per Student)"])["Average Reading Score"].mean()

#Calculate % passing math
spending_passing_math = school_summary_df.groupby(["Spending Ranges(Per Student)"])["% Passing Math"].mean()

#Calculate % passing reading
spending_passing_reading = school_summary_df.groupby(["Spending Ranges(Per Student)"])['% Passing Reading'].mean()


#Calculate overall passing rate
overall_passing_rate = (spending_passing_math + spending_passing_reading)/2

#Create dataframe to store results
scores_by_spending = pd.DataFrame (
    {"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})
scores_by_spending

NameError: name 'budget_per_student' is not defined

## Scores by School Size

* Perform the same operations as above, based on school size.

In [17]:
#Create a table to break down school performances based on school size
#Create bins to group school size
size_bins = [0, 1000, 2000, 5000]
group_names = ["small (<1000)", "Medium(1000-2000)", "Large(2000-5000)"]

school_size_df = school_summary_df
school_size_df["School Size"] = pd.cut(student_count, bins=size_bins, labels=group_names)
school_size_df


#Calculate average math score and reading score
spending_math_score = school_size_df.groupby(["School Size"])["Average Math Score"].mean()
spending_reading_score = school_size_df.groupby(["School Size"])["Average Reading Score"].mean()

#Calculate % passing math
spending_passing_math = school_size_df.groupby(["School Size"])["% Passing Math"].mean()


#Calculate % passing reading
spending_passing_reading = school_size_df.groupby(["School Size"])['% Passing Reading'].mean()


#Calculate % passing grades overall
overall_passing_rate = (spending_passing_math + spending_passing_reading)/2

#Create dataframe to store contents
scores_by_size = pd.DataFrame ({"Average Math Score": spending_math_score,
    "Average Reading Score": spending_reading_score,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "Overall Passing Rate": overall_passing_rate})
scores_by_size

NameError: name 'school_summary_df' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type

In [18]:
#Perform same calculations as above based on school type

scores_school_type = school_summary_df[["School Type","Average Math Score",
                                        "Average Reading Score", 
                                        "% Passing Math", 
                                        "% Passing Reading", 
                                        "% Overall Passing Rate"]]
scores_school_type = scores_school_type.groupby('School Type').mean()
scores_school_type

NameError: name 'school_summary_df' is not defined