In [1]:
# dependencies
import random
import pandas as pd
import requests
import json
import numpy as np
import glob
import json
import csv
import warnings

warnings.simplefilter("error")

In [2]:
#18
file1_pd_18 = pd.read_csv("201801-citibike-tripdata.csv")
file2_pd_18 = pd.read_csv("201802-citibike-tripdata.csv")
file3_pd_18 = pd.read_csv("201803-citibike-tripdata.csv")
file4_pd_18 = pd.read_csv("201804-citibike-tripdata.csv")
file5_pd_18 = pd.read_csv("201805-citibike-tripdata.csv")
file6_pd_18 = pd.read_csv("201806-citibike-tripdata.csv")
file7_pd_18 = pd.read_csv("201807-citibike-tripdata.csv")
file8_pd_18 = pd.read_csv("201808-citibike-tripdata.csv")
file9_pd_18 = pd.read_csv("201809-citibike-tripdata.csv")
file10_pd_18 = pd.read_csv("201810-citibike-tripdata.csv")
file11_pd_18 = pd.read_csv("201811-citibike-tripdata.csv")
file12_pd_18 = pd.read_csv("201812-citibike-tripdata.csv")
#19
file1_pd_19 = pd.read_csv("201901-citibike-tripdata.csv")
file2_pd_19 = pd.read_csv("201902-citibike-tripdata.csv")
file3_pd_19 = pd.read_csv("201903-citibike-tripdata.csv")
file4_pd_19 = pd.read_csv("201904-citibike-tripdata.csv")
file5_pd_19 = pd.read_csv("201905-citibike-tripdata.csv")
file6_pd_19 = pd.read_csv("201906-citibike-tripdata.csv")
file7_pd_19 = pd.read_csv("201907-citibike-tripdata.csv")
file8_pd_19 = pd.read_csv("201908-citibike-tripdata.csv")
file9_pd_19 = pd.read_csv("201909-citibike-tripdata.csv")
file10_pd_19 = pd.read_csv("201910-citibike-tripdata.csv")
file11_pd_19 = pd.read_csv("201911-citibike-tripdata.csv")
file12_pd_19 = pd.read_csv("201912-citibike-tripdata.csv")
#20
file1_pd_20 = pd.read_csv("202001-citibike-tripdata.csv")
file2_pd_20 = pd.read_csv("202002-citibike-tripdata.csv")
file3_pd_20 = pd.read_csv("202003-citibike-tripdata.csv")
file4_pd_20 = pd.read_csv("202004-citibike-tripdata.csv")
file5_pd_20 = pd.read_csv("202005-citibike-tripdata.csv")
file6_pd_20 = pd.read_csv("202006-citibike-tripdata.csv")
file7_pd_20 = pd.read_csv("202007-citibike-tripdata.csv")
file8_pd_20 = pd.read_csv("202008-citibike-tripdata.csv")
file9_pd_20 = pd.read_csv("202009-citibike-tripdata.csv")
file10_pd_20 = pd.read_csv("202010-citibike-tripdata.csv")
file11_pd_20 = pd.read_csv("202011-citibike-tripdata.csv")
file12_pd_20 = pd.read_csv("202012-citibike-tripdata.csv")

In [3]:
#2018
citibike_tripdata_2018 = pd.concat([file1_pd_18, file2_pd_18, file3_pd_18,file4_pd_18,file5_pd_18, file6_pd_18, file7_pd_18,file8_pd_18,file9_pd_18, file10_pd_18, file11_pd_18,file12_pd_18],axis=0)

In [4]:
citibike_tripdata_2018.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id            True
start station name          True
start station latitude     False
start station longitude    False
end station id              True
end station name            True
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [5]:
citibike_tripdata_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [6]:
citibike_tripdata_2018_clean = citibike_tripdata_2018.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_2018_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,W 52 St & 11 Ave,40.767272,-73.993929,505.0,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3255.0,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,W 52 St & 11 Ave,40.767272,-73.993929,525.0,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,W 52 St & 11 Ave,40.767272,-73.993929,447.0,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3356.0,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [7]:
citibike_tripdata_2018_clean["birth year"] = citibike_tripdata_2018_clean["birth year"].astype(int)

In [8]:
citibike_tripdata_2018_clean.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [9]:
citibike_tripdata_2018_clean.to_csv("CitibikeTripdata2018.csv", index=False)

In [10]:
#2019
citibike_tripdata_2019 = pd.concat([file1_pd_19, file2_pd_19, file3_pd_19,file4_pd_19,file5_pd_19, file6_pd_19, file7_pd_19,file8_pd_19,file9_pd_19, file10_pd_19, file11_pd_19,file12_pd_19],axis=0)

In [11]:
citibike_tripdata_2019.isnull().any()

tripduration               False
starttime                  False
stoptime                   False
start station id            True
start station name          True
start station latitude     False
start station longitude    False
end station id              True
end station name            True
end station latitude       False
end station longitude      False
bikeid                     False
usertype                   False
birth year                 False
gender                     False
dtype: bool

In [12]:
citibike_tripdata_2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [14]:
citibike_tripdata_2019_clean = citibike_tripdata_2019.dropna(axis=0).reset_index(drop=True)
citibike_tripdata_2019_clean.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [15]:
citibike_tripdata_2019_clean["birth year"] = citibike_tripdata_2019_clean["birth year"].astype(int)
citibike_tripdata_2019_clean.dtypes
citibike_tripdata_2019_clean.to_csv("CitibikeTripdata2019.csv", index=False)

In [16]:
#2020
citibike_tripdata_2020 = pd.concat([file1_pd_20, file2_pd_20, file3_pd_20,file4_pd_20,file5_pd_20, file6_pd_20, file7_pd_20,file8_pd_20,file9_pd_20, file10_pd_20, file11_pd_20, file12_pd_20],axis=0)

In [17]:
citibike_tripdata_2020.isnull().any()
citibike_tripdata_2020_clean = citibike_tripdata_2020.dropna(axis=0).reset_index(drop=True)

In [18]:
citibike_tripdata_2020_clean["birth year"] = citibike_tripdata_2020_clean["birth year"].astype(int)
citibike_tripdata_2020_clean.dtypes
citibike_tripdata_2020_clean.to_csv("CitibikeTripdata2020.csv", index=False)

In [ ]:
# # Script to merge several CSVs into one

# import glob
# import csv

# # # Change delimiter to the appropriate one in CSV
# delimiter = ';'

# csvs = glob.glob('*.csv')

# f = open('merged_data.csv', 'wb')
# master_csv = csv.writer(f)

# # # Take the header of the first CSV and make it the master header
# first_csv = open(csvs[0], 'rb')
# headers = first_csv.readline().strip().split(delimiter)
# master_csv.writerow(headers)
# # # Write remaining rows
# for line in first_csv:
#     master_csv.writerow(line.strip().split(delimiter))

# # # Read remaining CSVs and skip the first row
# for file in csvs[1:]:
#     current_csv = open(file, 'rb')
#     for line_num, line in enumerate(current_csv):
#          if line_num > 0:
#             master_csv.writerow(line.strip().split(delimiter))
            
# f.close()